{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Public chat</h1>
    <ul id="messages-list"></ul>

<br>
<textarea id="message-area" placeholder="Type it here!"></textarea>
<input type="button" id="submit-form" value="Send it!"/>
</div>
{% endblock %}

{% block javascripts %}
        var userInfo = {
        username: new Date().getTime().toString()
    };
    
    // Socket chat configuration
    /**
     * According to the configuration in Sockets/Chat.php , change the port if you need to.
     * @type WebSocket
     */

    var conn = new WebSocket('ws://sandbox:8080/');

    conn.onopen = function(e) {
        console.info("Connection status OK!");
    };

    conn.onmessage = function(e) {
        var data = JSON.parse(e.data);
        ChatController.addMessage(data.username, data.message);
        
        console.log(data);
    };
    
    conn.onerror = function(e){
        alert("Something is wrong with your connection.");
        console.error(e);
    };
    // Socket chat config end
   
    
    /// Adding messages to the list element
    document.getElementById("submit-form").addEventListener("click",function(){
        var msg = document.getElementById("message-area").value;
        
        if(!msg){
            alert("You haven't written anything yet!");
        }
        
        Chat.sendMessage(msg);
        // Empty text area
        document.getElementById("form-message").value = "";
    }, false);
    
    // Send the message and add it to a list.
    var ChatController = {
        addMessage: function(username,message){
            var from;
            
            if(username == userInfo.username){
                from = "me";
            }else{
                from = userInfo.username;
            }
            
            var ul = document.getElementById("messages-list");
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(from + " : "+ message));
            ul.appendChild(li);
        },
        sendMessage: function(text){
            userInfo.message = text;
            conn.send(JSON.stringify(userInfo));
            this.addMessage(userInfo.username, userInfo.message);
        }
    };

{% endblock %}

